/* Plan */
.plan{
	text-align: center;
	&__content{
		display: none;
		margin-top: 85px;
		@media screen and (min-width: 992px) {
			margin-top: 73px;
		}
	}
	&__content.plan-monthly{
		display: block;
	}
	&__content.plan-annually{
		display: none;
	}
	
	&__label{
		font-family: $font-family;
		color: $color-blue;
		font-size: 15px;			
	}
	&__toggle{
		margin: 0px 25px;
		top: 10px
	}
	&__inner{
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 992px) {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;			
		}
	}
	&__item{
		flex-grow: 1;
		&:not(:last-child){
			margin-bottom: 32px;
			@media screen and (min-width: 992px) {
				margin-bottom: 0px;
			}
		}
		@media screen and (min-width: 992px) {
			width: 33.33%;
					
		}
	}
}

.plan__toggle:checked ~ .plan__content.plan-annually{
	display: block;
}

.plan__toggle:checked ~ .plan__content.plan-monthly{
	display: none;
}

/* /Plan */